.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  width: 135px;
  height: 47px;
  text-decoration: none;
}
.home-nav {
  display: flex;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-navlink1 {
  text-decoration: none;
}
.home-link {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.home-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  width: 106px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-primary-btn {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.home-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.home-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.home-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.home-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.home-primary-btn1 {
  text-decoration: none;
}
.home-menu-mobile {
  top: 0;
  flex: 0 0 auto;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1000;
  position: absolute;
  background: #fff;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink2 {
  text-decoration: none;
}
.home-link3 {
  text-decoration: none;
}
.home-link4 {
  text-decoration: none;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  padding-top: var(--dl-space-space-threeunits);
  background-size: cover;
  background-image: url("/playground_assets/group%2011-1500w.png");
}
.home-max-width1 {
  align-items: stretch;
}
.home-content-container {
  flex: 1;
  display: flex;
  min-width: 50%;
  align-self: stretch;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  width: 90%;
  font-size: 52px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 42px;
  text-transform: none;
  text-decoration: none;
}
.home-text02 {
  width: 70%;
  text-align: left;
}
.home-image-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  width: 354px;
  height: 527px;
  max-width: 589px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
}
.home-section-one {
  padding-top: var(--dl-space-space-sixunits);
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  padding-bottom: var(--dl-space-space-twounits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-max-width2 {
  flex-direction: column;
}
.home-text03 {
  color: var(--dl-color-backgrounds-primary);
  width: 80%;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  width: 80%;
  font-size: 1.8em;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-cards-container {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-max-width3 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-image-container1 {
  flex: 1;
}
.home-image3 {
  width: 90%;
  max-width: 640px;
  object-fit: cover;
  margin-left: 0px;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  max-width: 506px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text05 {
  align-self: center;
  margin-bottom: 24px;
}
.home-text06 {
  color: var(--dl-color-backgrounds-primary);
  font-style: normal;
  font-weight: 600;
  line-height: 2;
}
.home-text07 {
  color: var(--dl-color-grays-gray100);
  list-style: disc;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text10 {
  color: var(--dl-color-grays-gray100);
  list-style: disc;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text11 {
  color: var(--dl-color-grays-gray100);
  list-style: disc;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text12 {
  color: var(--dl-color-grays-gray100);
  list-style: disc;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text13 {
  color: var(--dl-color-grays-gray100);
  list-style: disc;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text14 {
  color: var(--dl-color-grays-gray100);
  list-style: disc;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text15 {
  color: var(--dl-color-grays-gray100);
  list-style: disc;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text16 {
  color: var(--dl-color-grays-gray100);
  list-style: disc;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-max-width4 {
  flex-direction: column;
  justify-content: center;
}
.home-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text17 {
  font-size: 3em;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-iframe {
  width: 70%;
  height: 400px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-text18 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-fourunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-container4 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-section-six {
  padding-top: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: var(--dl-color-backgrounds-primary);
}
.home-max-width5 {
  align-items: stretch;
}
.home-content-container2 {
  flex: 1;
  display: flex;
  min-width: 60%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text19 {
  color: var(--dl-color-grays-white100);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text22 {
  color: var(--dl-color-grays-white80);
  margin-bottom: 36px;
}
.home-input-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-button1 {
  display: flex;
  transition: 0.3s;
  align-items: center;
  line-height: 1;
  padding-top: 20px;
  white-space: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #efb413;
}
.home-button1:hover {
  background-color: var(--dl-color-grays-white100);
}
.home-image-container2 {
  flex: 1;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image4 {
  width: 100%;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-max-width1 {
    flex-direction: column;
  }
  .home-content-container {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-image2 {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-image3 {
    max-width: 100%;
    margin-left: 0px;
  }
  .home-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text05 {
    width: 100%;
  }
  .home-text18 {
    text-align: center;
  }
  .home-container3 {
    grid-template-columns: 1fr 1fr;
  }
  .home-container4 {
    grid-template-columns: 1fr 1fr;
  }
  .home-max-width5 {
    flex-direction: column;
  }
  .home-text19 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-nav {
    display: none;
  }
  .home-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-primary-btn1 {
    display: none;
  }
  .home-text03 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text04 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-cards-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-image-container1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-image3 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-content-container1 {
    max-width: 100%;
  }
  .home-text17 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text18 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-menu-mobile {
    width: 100%;
    height: 100vh;
  }
  .home-button {
    font-size: 24px;
    align-self: flex-end;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: right;
    font-weight: 600;
    padding-top: var(--dl-space-space-unit);
  }
  .home-ul {
    margin-top: var(--dl-space-space-fiveunits);
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-li {
    font-size: 26px;
    text-align: center;
    font-family: Poppins;
    line-height: 3;
  }
  .home-navlink2 {
    font-style: normal;
    font-weight: 600;
  }
  .home-li1 {
    font-size: 26px;
    text-align: center;
    font-family: Poppins;
    line-height: 3;
  }
  .home-link3 {
    font-style: normal;
    font-weight: 600;
  }
  .home-li2 {
    font-size: 26px;
    text-align: center;
    font-family: Poppins;
    line-height: 3;
  }
  .home-link4 {
    font-style: normal;
    font-weight: 600;
  }
  .home-text01 {
    font-size: 42;
  }
  .home-cards-container {
    justify-content: center;
  }
  .home-iframe {
    width: 100%;
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container3 {
    grid-template-columns: 1fr;
  }
  .home-container4 {
    grid-template-columns: 1fr;
  }
  .home-input-container {
    flex-direction: column;
  }
  .home-image-container2 {
    width: 100%;
  }
}
