.privacy-policy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidded;
  align-items: center;
  flex-direction: column;
}
.privacy-policy-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.privacy-policy-text {
  font-size: 3rem;
  text-align: center;
}
.privacy-policy-text01 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.privacy-policy-text02 {
  font-weight: 700;
}
.privacy-policy-text07 {
  font-weight: 700;
}
.privacy-policy-text12 {
  font-weight: 700;
}
.privacy-policy-text17 {
  font-weight: 700;
}
@media(max-width: 991px) {
  .privacy-policy-text01 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .privacy-policy-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .privacy-policy-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .privacy-policy-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
