.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-image {
  width: 135px;
  height: 47px;
  text-decoration: none;
}
.navbar-nav {
  display: flex;
}
.navbar-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image1 {
  width: 106px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-primary-btn {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.navbar-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon12:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.navbar-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-primary-btn1 {
  text-decoration: none;
}
.navbar-menu-mobile {
  top: 0;
  flex: 0 0 auto;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1000;
  position: absolute;
  background: #fff;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 767px) {
  .navbar-nav {
    display: none;
  }
  .navbar-primary-btn1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .navbar-menu-mobile {
    width: 100%;
    height: 100vh;
  }
  .navbar-button {
    font-size: 24px;
    align-self: flex-end;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: right;
    font-weight: 600;
    padding-top: var(--dl-space-space-unit);
  }
  .navbar-ul {
    margin-top: var(--dl-space-space-fiveunits);
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .navbar-li {
    font-size: 26px;
    text-align: center;
    font-family: Poppins;
    line-height: 3;
  }
  .navbar-text1 {
    font-style: normal;
    font-weight: 600;
  }
  .navbar-li1 {
    font-size: 26px;
    text-align: center;
    font-family: Poppins;
    line-height: 3;
  }
  .navbar-text2 {
    font-style: normal;
    font-weight: 600;
  }
  .navbar-li2 {
    font-size: 26px;
    text-align: center;
    font-family: Poppins;
    line-height: 3;
  }
  .navbar-text3 {
    font-style: normal;
    font-weight: 600;
  }
}
